/* p{
    color: red;
}
div{
    background-color:  #00FF00;
}
.size{
    font-size: 24px;
} */

/* Cau 4: */
/* div{
    font-size: 3em;
    background: wheat
  } */

  /* Cau 5: */
  /* #div2{
      color: blue;
  } */

  /* Cau 6: */
  /* [target]{
      color: yellow;
  } */

  /* Cau 7: */
  /* ul li{
      font-weight: bolder;
  } */


